*.gcno
*.gcda
*.gcov
test_*_bfs
test_*_apply
test_*_assign
test_*_column_extended_view
test_*_constant_matrix
test_*_ewiseapply
test_*_extract
test_*_extracttuples
test_*_gemm
test_*_reduce
test_*_csc_matrix
test_*_coo_matrix
test_*_csr_matrix
test_*_dia_matrix
test_*_lil_matrix
test_math
test_*_row_extended_view
test_*_sssp
